<connectionStrings>
  <!--<add name="DefaultConnection" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;Initial Catalog=app893489;Integrated Security=SSPI;" providerName="System.Data.SqlClient" />
  <add name="RadioDbContext" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;Initial Catalog=app89438743;Integrated Security=SSPI;" providerName="System.Data.SqlClient" />-->
<add name="DefaultConnection" connectionString="Data Source=raddb.database.windows.net;Initial Catalog=RadDbAccount;User ID=aldrinAdmin;Password=rad8471M!;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False" providerName="System.Data.SqlClient" />
<add name="RadioDbContext" connectionString="Data Source=raddb.database.windows.net,1433;Initial Catalog=RadDbApplication;Persist Security Info=False;User ID=aldrinAdmin;Password=rad8471M!;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" providerName="System.Data.SqlClient" />
</connectionStrings>