<appSettings>
  <add key="Twilio_TokenId" value="cd4948e532ae30e239d08d4604bbce2e" />
  <add key="SendGrid_UserName" value="azure_c688a0956c5b68a0fab6cff7f0ea6331@azure.com" />
  <add key="SendGrid_Password" value="Rad8471M!" />
  <add key="GoogleUserName" value="radprosite@gmail.com" />
  <add key="Google_Password" value="Rad8471M!!" />
  <!--<add key="stripePublishableKey" value="pk_live_ETydT44rlEKzsYfdSGuruIQP"/>
  <add key="stripeSecretKey" value="sk_live_bM4SvIStBPtLrq1L8R9LILJ7" />-->
  <add key="PostCodeAPIKey" value="UE1WLFA60YRNQ9RGA4SR"/>
  <add key="GoogleAPIKey" value="AIzaSyCR0tS1jYSxvJyEmjmDnmQKVGJHr3JQLk0"/>
  <add key="RecaptchaSiteKey" value="6LdGZr4UAAAAAKu6qkTeRchjv9GIbheQHsVXDQKO"/>
  <add key="RecaptchaSecretKey" value="6LdGZr4UAAAAABVgZFGqYoB6oH6UkHIEI7VOB38K"/>
  <add key="LinkedInClientId" value="78z7ymvdycpdf6"/>
  <add key="LinkedInClientSecret" value="dHsRPgFraZYY2lAv"/>
</appSettings>