a {
    color: #0092ff;
}



table.dataTable thead th {
    position: relative;
    background-image: none !important;
}

    table.dataTable thead th.sorting:after,
    table.dataTable thead th.sorting_asc:after,
    table.dataTable thead th.sorting_desc:after {
        position: absolute;
        top: 12px;
        right: 8px;
        display: block;
        font-family: FontAwesome;
    }

    table.dataTable thead th.sorting:after {
        content: "\f0dc";
        color: #ddd;
        font-size: 0.8em;
        padding-top: 0.12em;
    }

    table.dataTable thead th.sorting_asc:after {
        content: "\f0de";
    }

    table.dataTable thead th.sorting_desc:after {
        content: "\f0dd";
    }

top-toolbar-height {
    height: 0 !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
    padding: 0em 0em !important;
    margin-left: 0 !important;
    text-align: center;
    text-decoration: none !important;
}

    .dataTables_wrapper .dataTables_paginate .paginate_button:hover {
        color: white !important;
        border: none !important;
        background-color: none !important;
        background: none !important;
        background: none !important;
        background: -moz-linear-gradient(top, #585858 0%, #111 100%);
        background: -ms-linear-gradient(top, #585858 0%, #111 100%);
        background: -o-linear-gradient(top, #585858 0%, #111 100%);
        background: none !important;
    }

.dataTables_wrapper .dataTables_paginate .paginate_button {
    box-sizing: border-box;
    display: inline-block;
    min-width: 1.5em;
    padding: 0 !important;
    margin-left: 2px !important;
    text-align: center;
    text-decoration: none !important;
    border: 1px solid transparent !important;
}

.pagination > li > a, .pagination > li > span {
    position: relative;
    float: left;
    padding: 2px 4px;
    margin-left: 2px;
    line-height: 1.42857143;
    color: #337ab7;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd !important;
}

.modal-header .close {
    margin-top: -2px;
}

button.close {
    -webkit-appearance: none;
    padding: 0;
    cursor: pointer;
    background: 0 0;
    border: 0;
}

.close {
    float: right;
    font-size: 21px;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    filter: alpha(opacity=20);
    opacity: .2;
}

div.container {
    max-width: 1200px
}
