
@{
    ViewBag.Title = "Employment";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

 <div><h1>@ViewBag.Title</h1></div>
 <div>
     <section>
         <div>
             <h2>Create your profile, find your next position.</h2>

         </div>

     </section>
     <section>
         <div>
             <h2>Name &amp; Location</h2>
         </div>

     </section>
     <section>
         <div>
             <h2>Employment Details</h2>
         </div>

     </section>
     <section>
         <div>
             <h2>Work Experience</h2>
         </div>

     </section>
     <section>
         <div>
             <h2>Employment Details</h2>
         </div>

     </section>
     <section>
         <div>
             <h2>Skills</h2>
         </div>

     </section>
     <section>
         <div>
             @Html.CheckBox("Receive a text message when a new job is posted!", "")
         </div>
         <div>
             <p>Submit Application | Cancel</p>
         </div>

     </section>
 </div>