<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" media="all" href="/assets/application-mailer-dbc5154d3c4160e8fa7ef52fa740fa402760c39b5d22c8f6d64ad5999499d263.css" />
    <style>
       
    </style>
</head>
<body class="bg-light">
    <div class="container">
        <preview>We received your email and look forward to working with you!</preview>
        <img class="mx-auto mt-4 mb-3" width="112" height="101" src="https://radprosite.com/Image/site/logo.png" />
        <p>Radio</p>
        <p>Antenna</p>
        <p>Developers</p>
        <div class="card mb-4" style="border-top: 5px solid #5f2d23;">
            <div class="card-body">
                <h4 class="text-center">Safety First</h4>
            </div>
            <div class="text-left text-muted">We will be contacting you shortly.</div>
            <div class="text-left text-muted">Thank you for visiting our site.</div>
            <div class="text-left text-muted mb-4">Things are just getting started! So we will email you updates and keep you informed. If you want to be removed from our Safety Blog, and Auto Mailer then just type NO and click send.</div>
            <br />
            <div class="text-left text-muted mb-4">Benjamin Linde - Owner</div>
        </div>
    </div>
</body>
</html>